body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 16px;
  --dark1: #18214D;
  --dark2: #29335C;
  --gray1: '#3E4462';
  --gray2: '#DFE4EA';
  --gray3: '#EFF2F6';
  --gray4: '#C4C4C4';
  --orange1: '#F3663F';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button {
  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.spacer {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
